<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-sm btn-success float-start mb-4" (click)="createContact()">
      New Contact
    </button>
  </div>
   <div class="col-md-12">
     <div>
       <table class="table table-light" aria-labelledby="tableLabel">
         <thead>
           <tr>
             <th>Contact Id</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email</th>
             <th>Actions</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let c of contacts">
             <td>{{ c.contactId }}</td>
             <td>{{ c.firstName }}</td>
             <td>{{ c.lastName }}</td>
             <td>{{ c.email }}</td>
             <td>
               <button type="button" class="btn btn-sm btn-primary" (click)="updateContact(c.contactId!)">
                 <i class="fas fa-edit"></i>
               </button>
               <button type="button" class="btn btn-sm btn-danger" (click)="openDeleteContactModal(c.contactId!)" style="margin-left:5px;">
                 <i class="fas fa-trash-alt"></i>
               </button>
             </td>
           </tr>
         </tbody>
       </table>
       <div *ngIf="loading" class="loading">Loading...</div>
     </div>
 </div>
</div>


<div class="pagination">
  <button class="btn btn-secondary btn-sm" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalContacts / pageSize | number: '1.0-0' }}</span>
  <button class="btn btn-secondary btn-sm" (click)="nextPage()" [disabled]="currentPage * pageSize >= totalContacts">Next</button>
</div>


<app-create-contact #contactComponent
                    (saveClick)="getContacts()"
                    [selectedContactId]="selectedContactId"
                    [isDeleteMode]="isDeleteMode"
                    (closeClick)="resetModal()">
</app-create-contact>

<div bsModal #deleteContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Contact</h5>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete this contact?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteContact()">Yes</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="closeDeleteModal()">No</button>
      </div>
    </div>
  </div>
</div>
